.jgallery .jgallery-thumbnails.images {
    padding: 15px;
}
.jgallery .jgallery-thumbnails.images .jgallery-container-inner {
    padding: 15px;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal .jgallery-container-inner:after {
    width: 15px;
    height: 15px;
    content: "";
    display: inline-block;
}
.jgallery .jgallery-thumbnails.images a {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    font-size: 0;
    
    img {
        -webkit-transition: -webkit-filter 0.2s, filter 0.2s;
        transition: -webkit-filter 0.2s, filter 0.2s;
        -webkit-filter: saturate( .4 );
        filter: saturate( .4 );
    }
    
    &:hover {
        img {
            -webkit-filter: saturate( 1 );
            filter: saturate( 1 );
        }
        
        &:after {
            opacity: 0;
        }
    }
    
    &.active {
        img {
            -webkit-filter: saturate( 1 );
            filter: saturate( 1 );
        }
        
        &:after {
            opacity: .25;    
        }
    }
}
.jgallery .jgallery-thumbnails.images a:after {
    opacity: .5;
    background: #111;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
}
.jgallery .jgallery-thumbnails.images:hover a:after {
    opacity: 0; 
}
.jgallery .jgallery-thumbnails.images img {
    padding: 1px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-vertical .prev,
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-vertical .next {
    left: 8px;
    right: 8px;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-vertical:hover .prev.visible {
    top: 0;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-vertical:hover .next.visible {
    bottom: 0;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal {
    padding-right: 0;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal .prev,
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal .next {
    top: 0px;
    bottom: 8px;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal:hover .prev.visible {
    left: 0;
}
.jgallery .jgallery-thumbnails.images.jgallery-thumbnails-horizontal:hover .next.visible {
    right: 0;
}