.container {
    display: inline-block;
}

.circle {
    width: 1em;
    height: 1em;
    margin: .125em;
    border-radius: 100%;
    background: #fff;
    animation: circle .5s linear infinite alternate;
    opacity: .4;
    transform: scale(.4);
    display: inline-block;
}

.circle:nth-child(2) {
    animation-delay: -.167s;
}

.circle:nth-child(3) {
    animation-delay: -.330s;
}

@keyframes circle {
    0% {
        transform: scale(.4);
        opacity: .1;
    }
    
    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}