.container {
    display: inline-flex;
}

.circle {
    width: 1em;
    height: 1em;
    background: #fff;
    animation: circle .5s linear infinite alternate;
    display: inline-block;
}

.circle:nth-child(3),
.circle:nth-child(6) {
    animation-delay: -.125s;
}

.circle:nth-child(2),
.circle:nth-child(7) {
    animation-delay: -.250s;
}

.circle:nth-child(1),
.circle:nth-child(8) {
    animation-delay: -.375s;
}

@keyframes circle {
    0% {
        transform: scaleX(0);
        opacity: 1;
    }

    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}