<div class="zoom-container" ng-style="{
        'left': ! isSlider && ! thumbnailsIsHidden && options.thumbnailsPosition === 'left' ? thumbnails.clientWidth + 'px' : 0,
        'right': ! isSlider && ! thumbnailsIsHidden && options.thumbnailsPosition == 'right' ? thumbnails.clientWidth + 'px' : 0,
        'top': ! isSlider && ! thumbnailsIsHidden && options.thumbnailsPosition == 'top' ? thumbnails.clientHeight + 'px' : 0,
        'bottom': ! isSlider && ! thumbnailsIsHidden && options.thumbnailsPosition == 'bottom' ? 40 + thumbnails.clientHeight + 'px' : '40px',
        'background': options.backgroundColorAlternative
    }">
    <div class="zoom before pt-perspective" jgallery-draggable-container>
        <jgallery-animation rows="{{ options.transitionRows }}" cols="{{ options.transitionCols }}">
            <img ng-src="{{ activePhoto.href }}" ng-style="activePhoto.style"
                 jgallery-draggable-element="{{ canDrag }}"
                 jgallery-draggable-element-on-start="startDragCallback()"
                 jgallery-draggable-element-on-stop="stopDragCallback()"
                 jgallery-mousedown-prevent-default>
        </jgallery-animation>
        <div jgallery-draggable-nav></div>
    </div>
    <span class="fa fa-chevron-left prev jgallery-btn jgallery-btn-large"
          ng-class="{hidden: ! hasPrevPhoto}"
          ng-click="goToPrevPhoto()"
          ng-style="{
                'background': options.backgroundColor
          }"
    ></span>
    <span class="fa fa-chevron-right next jgallery-btn jgallery-btn-large"
          ng-class="{hidden: ! hasNextPhoto}"
          ng-click="goToNextPhoto()"
          ng-style="{
                'background': options.backgroundColor
          }"
    ></span>
    <span class="progress"></span>
    <div class="nav"
        ng-style="{
            'background': options.backgroundColor
        }">
        <span jgallery-btn
              class="fa resize fa-search jgallery-btn jgallery-btn-small"
              data-tooltip-position="bottom right" data-tooltip="{{ options.tooltipZoom }}"
              ng-class="{
                'fa-search-plus': canZoomIn,
                'fa-search-minus': canZoomOut
              }"
              ng-click="changeZoomSize()"
        ></span>
        <span jgallery-btn
              class="fa change-mode jgallery-btn jgallery-btn-small"
              data-tooltip-position="bottom right"
              data-tooltip="{{ options.tooltipFullScreen }}"
              ng-show="options.canChangeMode"
              ng-click="options.mode = options.mode == 'standard' ? 'full-screen' : 'standard'"
              ng-class="{'fa-expand': options.mode == 'standard', 'fa-compress': options.mode != 'standard'}"
        ></span>
        <span jgallery-btn
              class="fa fa-times jgallery-close jgallery-btn jgallery-btn-small"
              data-tooltip-position="bottom right"
              data-tooltip="{{ options.tooltipClose }}"
              ng-show="options.canClose"
              ng-click="isVisible = false"
        ></span>
    </div>
    <div class="nav-bottom"
         style="background: {{ options.backgroundColor }}; box-shadow: 0 0 5px rgba( 0, 0, 0, .3 )"
         ng-hide="thumbnailsIsFullScreen">
        <div class="icons">
            <!--<span jgallery-btn
                  class="fa fa-play slideshow jgallery-btn jgallery-btn-small"
                  data-tooltip="{{ options.tooltipSlideshow }}"></span>
            <span jgallery-btn class="fa fa-random random jgallery-btn jgallery-btn-small inactive" data-tooltip="{{ options.tooltipRandom }}"></span>-->
            <span jgallery-btn class="fa fa-th full-screen jgallery-btn jgallery-btn-small"
                  data-tooltip="{{ options.tooltipSeeAllPhotos }}"
                  ng-click="thumbnailsIsFullScreen = ! thumbnailsIsFullScreen"></span>
            <span jgallery-btn class="fa minimalize-thumbnails jgallery-btn jgallery-btn-small" data-tooltip="{{ options.tooltipToggleThumbnails }}"
                  ng-class="{'fa-ellipsis-h': !thumbnailsIsVertical, 'fa-ellipsis-v': thumbnailsIsVertical, inactive: thumbnailsIsHidden}"
                  ng-click="thumbnailsIsHidden = ! thumbnailsIsHidden;"
            ></span>
            <span jgallery-btn
                  class="fa fa-list-ul change-album jgallery-btn jgallery-btn-small"
                  ng-class="{inactive: ! hasManyAlbums, active: albumsDropdownIsVisible}"
                  ng-click="albumsDropdownIsVisible = ! albumsDropdownIsVisible"
                  tooltip="{{ options.tooltipSeeOtherAlbums }}">
                <span class="menu jgallery-btn"
                      style="background: {{ options.backgroundColor }}; box-shadow: 0 0 20px {{ options.color }}">
                    <span class="item" ng-repeat="album in albums" ng-click="setAlbumAsActive( album.id )">
                        {{ album.title }}
                    </span>
                </span>
                <span class="title">
                    {{ activeAlbum.title }}
                </span>
            </span>
        </div>
        <div class="title before"></div>
    </div>
</div>