.thumbnail {
    width: 100px;
    height: 100px;
    margin: -5px;
    border-radius: 100%;
    box-shadow: 0 0 10px 5px rgba(0,0,0,.4);
    background: #333;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}

.img {
    width: 100%;
}