.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px 5px;
    border-radius: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    overflow: hidden;
    display: inline-block;
}

.img {
    width: 100%;
}