.gallery {
    height: 100vh;
    background: #333;
    color: #fff;
    overflow: hidden;
    position: relative;
}

.thumbnails {
    position: absolute;
    z-index: 1;

    &Bottom {
        transform: translateY(33%);
        left: 0;
        right: 0;
        bottom: 0;

        &:before {
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75) 50%);
            content: "";
            position: absolute;
        }
    }
}

.transitionCanvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.loading {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
}