.gallery {
    height: 100vh;
    background: #eee;
    overflow: hidden;
    position: relative;
}

.thumbnails {
    position: absolute;

    &Bottom {
        transform: translateY(33%);
        left: 0;
        right: 0;
        bottom: 0;

        &:before {
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.75) 50%);
            content: "";
            position: absolute;
        }
    }
}