#jGallery .descriptions {
    height: 62px;
    padding: 20px 0;
    background: #222;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 2;
    text-align: center;
    overflow: hidden;
}